# Set the default directory index file
DirectoryIndex index.html

# Redirect all HTTP requests to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Restrict access to roster.html with basic authentication
<Files "roster.html">
    AuthType Basic
    AuthName "Restricted access"
    AuthUserFile "/app/www/.htpasswd"
    Require valid-user
</Files>

# Deny access to all .ht* files (like .htaccess, .htpasswd)
<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>
